:root{
--mainBlue:#e7657a;
--lightBlue:#61d414;
--mainWhite:#f3f3f3;
--mainDark:#232528;
--mainYellow:#DB322F;
}
body{
  font-family: 'Roboto', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title{
  text-transform: uppercase;
  letter-spacing: 0,rem;
}
.text-blue{
  color: var(--mainBlue);
}
.btn-black{
background: transparent;
text-transform:capitalize;
font-size: 0.8rem !important;
color:var(--mainDark);
border-radius: 0 !important;
border:0.1rem solid var(--mainDark) !important;
}
.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon{
  cursor: pointer;
  font: 1.2rem;
  color: var(--mainYellow);
}